<!doctype html>
<html ng-app="calculadoraMod">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script>
    angular
      .module('calculadoraMod', [])
      .config(function(){

      })
      .run(function($rootScope){
        $rootScope.titulo = "Calculadora";
      })
      .controller('calcCtrl', function($scope, $rootScope, $log){
        $scope.resultado = '';
        $scope.titulo = "Calculadora";
        $scope.btns = '1234567890+-/*='.split('');
        $rootScope.titulo = "222";
        $scope.calc = function(v){
          $log.log(v);
          if (v === '=') {
            $scope.resultado = eval($scope.resultado);
          } else {
            $scope.resultado += v;
          }
        }
      });
  </script>
</head>

<body>
  <h1>{{titulo}}</h1>
  <div ng-controller="calcCtrl">
    <h1>{{titulo}}</h1>
    <input type="text" ng-model="resultado" placeholder="Enter a name here">
    <button ng-repeat="val in btns" ng-click="calc(val)">{{val}}</button>
  </div>
</body>

</html>
